{% extends "base.html.twig" %}

{% block title %}AsiaDream{% endblock %}
{% block body %}
<div id="carouselAccueil" class="carousel slide carousel-fade " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid w-100"src="{{ asset('img/chapeau2.jpg') }}" alt="image chapeau vietnanmien">
      <div class="carousel-caption">
        <h1>Votre agence française spécialiste des voyages en Asie</h1>
      </div>   
    </div>
    <div class="carousel-item">
      <img class="img-fluid w-100" src="{{ asset('img/temple.jpg') }}" alt="image temple vietnamien">
      <div class="carousel-caption">
        <h1>Votre agence française spécialiste des voyages en Asie</h1>
      </div>   
    </div>
    <div class="carousel-item">
      <img class="img-fluid w-100" src="{{ asset('img/agriculture-asia-vietnam.jpg') }}" alt="paysage vietnanmien">
      <div class="carousel-caption">
        <h1>Votre agence française spécialiste des voyages en Asie</h1>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselAccueil" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carouselAccueil" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br><br>
{#--- debut de la div container #}    
<div class="container p-0">
		{#--- image d'un pays #}
	<div class="row p-0">             
    {% for tour in tours %}
        <div  class="col-12 col-md-4 px-2">                
			<div class="card-deck mt-5  mr-auto ml-auto">
				<div class="card cardSet text-white">
					<div class="card-body">
						<img src="{{asset('img/tours/'~tour.image) }}" alt="image {{ tour.title }}" class="img-fluid" width="960" height="960">
						<h5 class="card-title mt-2">{{ tour.title }}</h5>
						{# Voir comment afficher seulement le début (pb c'est en html)
							<p style="color:red">{{ tour.description|purify }}</p>#}
						<p class="card-text text-white">{{tour.price / 100.0 }} € </p>
							<a href="{{ path('travelDetail', {id: tour.id}) }}" class="btn btn-dark btn-sm float-right">En savoir plus +</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>		
{% endblock %}

